
section{
  
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 232, 231);
}
.main{ 
  background-color: rgb(255, 255, 255);
  margin: 100px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;  
}

.main-page{
  
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
  ;
}
.profile{
  display: flex;
  flex-direction: column;
  
}
.media-social{
  display:flex ;
  /*border: 1px solid black; */
  justify-content:center;
  align-items: center;
  

  
  

}
.media-social> a {
  font-size: 30px;
  padding: 30px;
  color: black;
 
}
.card {
  
  display: block;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(255, 0, 0); */
  width: 300px;
  
  

}

.card>img{
  
  /* border: 1px solid black; */
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(115, 96, 226);
  

}
.card h2,p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile h{
  font-size: 25px;
}
.profile p,a{
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
  
}
.profile button{
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100px;
  border-radius: 20px;
}
.textdoc{
  color: black;
}